Package: ifupdown-wait-all-online
Maintainer: TOGURO Mikito <mit@shalab.net>
Architecture: all
Depends: ifupdown, iproute2
Version: 0.0.1-2
Description: ifupwn add-on script for waiting all interface online for IPv6/IPv4 
 simple wait all network interface! 
