[Unit]
Description=Wait for All network to be configured by ifupdown
DefaultDependencies=no
After=network.target
Before=network-online.target
ConditionFileIsExecutable=/sbin/ifup

[Service]
Type=oneshot
ExecStart=/usr/lib/ifupdown/ifupdown-wait-all-online.sh
RemainAfterExit=yes

[Install]
WantedBy=network-online.target
